<p>create-weapon works!</p>

<div class="login">
  <h2 class="active">Create new Weapon</h2>
  <div class=form>

    <input type="text" class="text"  [(ngModel)]="username" >
     <span>Username</span>
    <br>

    <input type="password" class="text"  [(ngModel)]="password" >
    <span>password</span>
    <br>

    <input type="text" class="text"  [(ngModel)]="nome">
     <span>Character's Name</span>
    <br>
    <input type="text" class="text"  [(ngModel)]="idPersonagem">
     <span>ID personagem</span>
    <br>

    <input type="text" class="text"  [(ngModel)]="tipoPersonagem">
     <span>Tipo de Arma</span>
    <br>

    <button class="signin" (click)="registar()" >Create</button>
  </div>

</div>

