
<div class="all">


<div class="player">

<div class="content">
<h1 id ="cName">CHARACTER</h1>

<div class="img1"></div>

<br>
<br>

<p>Attack</p>
<a id="atk">0</a>

<p>Life</p>
<a id="vida">0</a>

<p>Intelligence</p>
<a id="int">0</a>
<br>
</div>

</div>


<div class="enemy">

<div class="content">
<h1 id ="eName">ENEMY</h1>

<div class="img2"></div>

<br>
<br>
<p>Attack</p>
<a id="atk2">0</a>

<p>Life</p>
<a id="vida2">0</a>

<p>Intelligence</p>
<a id="int2">0</a>
 <br>
</div>


</div>


<button class="fight" (click)="fight()">FIGHT</button>



<div id="hpC">

  <div id="hpC2"><h3 id="c">100%</h3></div>


</div>

<div id="hpE">
  <div id="hpE2"> <h3 id="e">100%</h3></div>
</div>





</div>
